/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #e6ecf1;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

.twt-container {
  margin: 0 auto;
  width: 35%;
  border-radius: 5px;
}

.twt-header,
.twt-content,
.twt-header-compose,
.twt-content-new {
  background-color: white;
  border: 1px solid #e6ecf1;
  box-sizing: border-box;
  padding: 10px;
}

.twt-header {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.twt-content:hover {
  background-color: #f3f5f6;
}

.twt-header-compose {
  display: flex;
  justify-content: space-between;
}
form {
  text-align: center;
}

.twt-btn {
  background-color: #329cc3;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: transparent;
  border-radius: 100px;
  padding: 6px 16px;
}
.bck-btn {
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: transparent;
  border-radius: 100px;
  padding: 6px 16px;
}

a {
  text-decoration: none;
}

.w-30 {
  width: 30%;
}
